# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Environment variables
.env
.env.*

!.env.example

# Django
*.sqlite3
staticfiles/
media/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# Ruff / typing
.ruff_cache/
.mypy_cache/

# IDE
.idea/
.vscode/

# macOS
.DS_Store